*.*~
*.log
*.old
*.#.*
#*.*
*.*#
.#*.*
.*.swp
*.swp
build/CMakeFiles
build/CMakeCache.txt
build/CMake*
build/build.ninja
build/test*
build/cmake*
build/*.ninja*
Makefile
resource/RC*
dir_test/*
src/*.txt
